/*
 Width: 1000px
 */

@import url(http://fonts.googleapis.com/css?family=Acme);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);
@import url(http://fonts.googleapis.com/css?family=Poiret+One);
@import url(http://fonts.googleapis.com/css?family=Questrial|Lovers+Quarrel|Emilys+Candy|Mr+Bedfort|Butterfly+Kids|Pompiere|Lily+Script+One|Quicksand:300,400,700|Josefin+Sans:100,300,400,600,700|Life+Savers:400,700|Sevillana|Clicker+Script|Raleway:400,300,500,600,700,800,900,200,100|Delius|Ribeye+Marrow|Kranky|Sacramento|Cookie|Miltonian|Mystery+Quest|Raleway+Dots);

body, html{
	width: 100%;
	margin: 0px;
	padding: 0px;
}

#orchid-image {
	width: 100%;
	height: 450px;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

#main-header {
	font-family: 'Acme', sans-serif;
	color: #3cb371;
	font-size: 36px;
	text-align: center;
	padding-top: 5rem;
	padding-bottom: 5rem;
}

nav {
	font-family: 'Questrial', 'Lato', 'Open Sans', 'Verdana', Helvetica, Arial, sans-serif;
	font-size: 1rem;
	font-weight: 300;
	text-align: center;
}

a:hover {
	color: #E6E6E6;
}

a {
	color: #D685FF;
	text-decoration: none;
	white-space: 7rem;
}

#nav-link {
	margin: 0rem .7rem;
}

.main-container {
	width: 100%;
	margin: 0rem auto;
	padding: 0rem;
}

.link-container {
	margin: 2% auto; /*80px divided by 1000px*/
	width: 78%; /*780px divided by 1000px*/
	height: 16%; /*160x divided by 1000*/
}

.intro-container {
	text-align: center;
	width: 70%;
	border: none;
	margin: auto;
}

p {
	font-family: 'Raleway', 'Lato', 'Open Sans', 'Verdana', Helvetica, Arial, sans-serif;
	font-size: 1.1rem;
	font-weight: 300;
	line-height: 1.6rem;
}

.btn {
	float: left;
	margin-right: 3.84615385%; /*30px divided by 780px subpagenavcontainer*/
	width: 17.94871795%; /*140px divided by 780px subpagenavcontainer*/
	border: 1px dotted; /*2px*/
	background-color: #E0C2FF;
	padding: 7.05128205% 0%; /*55px*/
	margin: 0% 0.64102564% 7%; /*5px*/
	border-radius: 10%; /*15px*/
	font-family:'Josefin Sans';
	font-size: 1.2rem;
	text-align: center;
	color: #0000DE;
}

.main_footer {
	clear: both;
	font-family: 'Raleway';
	text-align: center;
}




/* Media Queries */
/* Smaller Resolution --------------------- */
@media screen and (max-width: 480px) {
	#intro-div,
	.container,
	#subpage-nav-container {
		width 100%;
	}
	.btn {
		width: 100%;
		border-radius: 0px;
		margin-bottom: 3%;
	}
}


