<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  <meta content="how to take care of an orchid" name="description" />
  <meta content="orchid, care, plants, fertilize orchid, black, leaves, leaf" name="keywords" />
  <link href="/index.css" media="all" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="/users/rachellee/dropbox/code/orchid/index.css" type="text/css" media="screen">

  <title>Help My Orchid</title>

  <!--[if lt IE 9]> <script src="//html5shiv.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script><![endif]-->
</head>
 
<div id = "orchid-image">
  <img src="/images/img_1652copy.jpg" class="white_orchid">
</div>

<div id="main-header">
  <header><span id="home"><a href ="/">How to "Phal"-Proof Your Phalaenopsis</a></span></header>
</div>

<body>
	{{content}}

	<footer id="main_footer">
  	<p>
  		2014
  	</p>
    <nav>
      <span id="nav-link"><a href="/about/">About</a></span>
      <span id="nav-link"><a href="/contact/">Contact</a></span>
    </nav>
	</footer>
</body>
</html>