<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <title>Help My Orchid</title>
<meta content="" name="description" />
    <meta content="" name="keywords" />
    <link href="index.css" media="all" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/users/rachellee/dropbox/code/orchid/index.css" type="text/css" media="screen">
  <!--[if lt IE 9]> <script src="//html5shiv.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script><![endif]-->
</head>

<header class="main-header"><h1>Helping Save Orchids Everywhere.</h1></header>
<nav>
  <a href ="http://helpmyorchid.neocities.org/Home.html">Home</a> | 
  <a href="http://helpmyorchid.neocities.org/About.html">About</a> | 
  <a href="http://helpmyorchid.neocities.org/Contact_us.html">Contact Us</a>
</nav>

<body>
	{{content}}

	<footer class="footer">
	<p>
		&copy; 2013
	</p>
	</footer>
</body>
</html>